h1 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-bottom: 10px; */
    width: 160px;
}

img {
    width: 160px;
    margin: 1px 20px 1px 20px;
    height: auto;
}

div.image-list {
    max-height: 200px;
    display: block;
    overflow-y: scroll;
    margin: 20px 1px 20px 1px;
}

div.image-item {
    min-height: 100px;
}
