<form [formGroup]="createPostFormGroup" class="row">
    <span class="col-4"></span>
    <div class="col-4">
        <h1>Contribute a Post</h1>
        <div class="row">
            <!-- <input type="text" matInput id="title" name="title" formControl="title"  matInput> -->

            <mat-form-field class="col-12" id="title" name="title" >
                <mat-label> Title</mat-label>
                <input type="text" formControlName="title" matInput>
                <mat-hint>  Provide a title </mat-hint> 
            </mat-form-field>
            <mat-form-field id="description" name="description"  class="col-12">
                <mat-label> Description</mat-label>
                <textarea matInput formControlName="description" rows="6"></textarea>
                <mat-hint>  Describe the post </mat-hint> 
            </mat-form-field>
        </div>
        <div class="row image-list">
            <mat-selection-list multiple="false" >
                <div class="col-12 image-item" *ngFor="let img of images">
                    <mat-list-option checkboxPosition="before">
                        <img [src]="img">
                    </mat-list-option>
                </div>
            </mat-selection-list>
        </div>
        <div class="row">
            <button type="submit" mat-button (click)="submit()" color="primary">Submit</button>
            <button mat-button (click)="cancel()">Cancel</button>
        </div>
    </div>
    <span class="col-4"></span>
</form>