<form [formGroup]="createPostFormGroup" class="row">
    <span class="col-sm-1 col-md-3"></span>
    <div class="col-xs-12 col-sm-10 col-md-6">
        <div class="row">
            <!-- <div class="col-sm-1 col-md-3"></div>
            <h1 class="col-sm-10 col-md-6">Contribute a Post</h1>
            <div class="col-sm-1 col-md-3"></div> -->
            <h1>Contribute a Post</h1>
        </div>
        <div class="row">
            <!-- <input type="text" matInput id="title" name="title" formControl="title"  matInput> -->

            <mat-form-field class="col-12" id="title" name="title" >
                <mat-label> Title</mat-label>
                <input type="text" formControlName="title" matInput>
                <mat-hint>  Provide a title </mat-hint> 
            </mat-form-field>
            <mat-form-field id="description" name="description"  class="col-12">
                <mat-label> Short description</mat-label>
                <textarea matInput formControlName="description" rows="4"></textarea>
                <mat-hint>  Provide a short description </mat-hint> 
            </mat-form-field>
            <mat-form-field id="description" name="description"  class="col-12">
                <mat-label>Detailed Story</mat-label>
                <textarea matInput formControlName="story" rows="10"></textarea>
                <mat-hint> Tell us your story! </mat-hint> 
            </mat-form-field>
            <mat-form-field id="url" name="url"  class="col-12">
                <mat-label>Link</mat-label>
                <input type="url" formControlName="linkToPost" matInput>
                <mat-hint>Link to the post </mat-hint> 
            </mat-form-field>
        </div>
        <div class="row actions-row">
            <button type="submit" mat-button (click)="submit()" color="primary">Submit</button>
            <button mat-button (click)="cancel()">Cancel</button>
        </div>
    </div>
    <span class="col-sm-1 col-md-3"></span>
</form>