<div *ngFor="let story of bannerStories; let i = index" >
    <app-banner-story-card 
    [title]="story.title" 
    [description]="formatDescription(story.description + story.story,400)"
    [bannerImage]="story.imageId"
    [postLink]="story.linkToPost"
    ></app-banner-story-card>

    <div *ngIf="i === 0 || i === 3" class="horizontal-scroll-container">
        <div class="card-container" *ngFor="let story of highlightStories">
            <app-story-card [story]="story" [title]="story.title" [description]="story.description"></app-story-card>
        </div>
    </div>
    
</div>
