.horizontal-scroll-container {
    max-height: auto;
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.card-container {
    min-width: 310px;
    margin: 3px 5px 10px 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: lightgray;
}

.no-margin-padding {
    padding: 0px 0px 0px 0px;
}

.story-list {
    margin: 10px 5px 10px 5px;
}

.big-icon {
    font-size: 48pt;
}

.info-container {
    position: absolute;
    width: 100%;
    min-height: 350px;
    background-color: whitesmoke;
    opacity: 80%;
    z-index: 1000;
}

.info-message {
    position: relative;
    margin: 20% auto auto auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.info-message mat-icon{
    width: 100%;
}

.show{
    display: block;
}

.hide {
    display: none;
}
