<div class="row" *ngIf="bannerStory">
    <div class="col-4">
        <app-banner-story-card [title]="bannerStory.title" 
        [description]="bannerStory.description"
        [bannerImage]="bannerStory.imageId"
        [postLink]="bannerStory.linkToPost"
        ></app-banner-story-card>
    </div>

    <div class="col-8">
        <div class="row">
            <div *ngFor="let story of stories">
                <app-story-card [title]="story.title" 
                [description]="story.description"></app-story-card>
            </div>

        </div>

    </div>

</div>