<div class="d-none d-lg-block">
    <div class="row">
        <mat-chip-list class="col-12 tag-bar">
            <mat-chip color="primary" (click)="onChipSelected('all')" [selected]="selectedTag['all']">All </mat-chip>
            <mat-chip color="primary" *ngFor="let tag of desktopTags" [selected]="selectedTag[tag]" (click)="onChipSelected(tag)">
                {{tag}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="row">
        <div class="col-sm-4 primary-card" *ngIf="highlightedBlog">
            <mat-card (click)="cardClickHandler(highlightedBlog.linkToBlog)">
                <img mat-card-image [src]="highlightedBlog.bannerImage">
                <mat-card-header>
                    <mat-card-title>{{highlightedBlog.title}}
                        <mat-icon color="accent">fiber_new</mat-icon>
                        <div>
                            <mat-card-subtitle>{{ formatDate(highlightedBlog.dateAdded)}}</mat-card-subtitle>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>{{highlightedBlog.description}}</mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <ng-container *ngFor="let blog of blogList$ | async; let i=index">
                    <div class="col-md-6 small-cards-recent">
                        <mat-card *ngIf="i < 4" (click)="cardClickHandler(blog.linkToBlog)">
                            <mat-card-header>
                                <img mat-card-avatar [src]="blog.imageUrl">
                                <mat-card-subtitle>
                                    <div>
                                        {{blog.title}}
                                    </div>
                                    <div>
                                        {{formatDate(blog.dateAdded)}}
                                    </div>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>{{blog.description}}</mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let blog of blogList$ | async; let i=index">
            <div *ngIf="i >= 4" class="col-sm-4 small-cards">
                <mat-card (click)="cardClickHandler(blog.linkToBlog)">
                    <mat-card-header>
                        <img mat-card-avatar [src]="blog.imageUrl">
                        <mat-card-subtitle>
                            {{blog.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>{{blog.description}}</mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>
<div class="d-xs-block d-lg-none">
    <div class="row">
        <mat-chip-list class="col-12 tag-bar">
            <mat-chip color="primary" (click)="onChipSelected('all')" [selected]="selectedTag['all']">All </mat-chip>
            <mat-chip color="primary" *ngFor="let tag of mobileTags" [selected]="selectedTag[tag]" (click)="onChipSelected(tag)">
                {{tag}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="row">
        <div class="col-sm-10" *ngIf="highlightedBlog">
            <mat-card (click)="cardClickHandler(highlightedBlog.linkToBlog)">
                <img mat-card-image [src]="highlightedBlog.bannerImage">
                <mat-card-header>
                    <mat-card-title>{{highlightedBlog.title}}
                        <mat-icon color="accent">fiber_new</mat-icon>
                    </mat-card-title>
                    <mat-card-subtitle *ngIf="highlightedBlog.dateAdded">
                        {{formatDate(highlightedBlog.dateAdded)}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>{{highlightedBlog.description}}</mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <ng-container *ngFor="let blog of blogList$ | async;">
                <mat-card (click)="cardClickHandler(blog.linkToBlog)">
                    <mat-card-header>
                        <img mat-card-avatar class="avatar" [src]="blog.imageUrl">
                        <mat-card-subtitle>
                            <div>
                                {{blog.title}}
                            </div>
                            <div *ngIf="blog.dateAdded">
                                {{formatDate(blog.dateAdded)}}
                            </div>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>{{blog.description}}</mat-card-content>
                </mat-card>
            </ng-container>
        </div>

    </div>
</div>