<div class="custom-container">
    <div class="row" *ngIf="desktopTags.length > 0">
        <mat-chip-list class="col-12 tag-bar">
            <mat-chip color="primary" (click)="onChipSelected('all')" [selected]="selectedTag['all']">All
                ({{blogCount}}) </mat-chip>
            <mat-chip color="primary" *ngFor="let tag of desktopTags" [selected]="selectedTag[tag.tag]"
                (click)="onChipSelected(tag)">
                {{tag.tag}} <ng-container *ngIf="tag.count">({{tag.count}})</ng-container>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="row">
        <ng-container *ngFor="let blog of blogList; let i=index">
            <div class="col-sm-4 small-cards">
                <mat-card (click)="cardClickHandler(blog.linkToBlog)">
                    <ng-container *ngIf="i < 3">
                        <img mat-card-image [src]="blog.bannerImage">
                    </ng-container>
                    <mat-card-header>
                        <ng-container *ngIf="i >= 3">
                            <img mat-card-avatar class="avatar" [src]="blog.imageUrl">
                            <mat-card-subtitle>
                                <div>
                                    {{blog.title}}
                                </div>
                                <div>
                                    {{formatDate(blog.dateAdded)}}
                                    <span class="tags">
                                        <ng-container *ngFor="let t of blog.tags">, {{t}}
                                        </ng-container>
                                    </span>
                                </div>
                            </mat-card-subtitle>
                        </ng-container>

                        <ng-container *ngIf="i < 3">
                            <mat-card-title>
                                {{blog.title}}
                                <mat-icon *ngIf="i === 0 && selectedTag['all'] !== undefined" color="accent">fiber_new</mat-icon>
                            </mat-card-title>
                        </ng-container>
                    </mat-card-header>
                    <mat-card-subtitle *ngIf="i < 3">
                            {{formatDate(blog.dateAdded)}}<span class="tags" *ngFor="let t of blog.tags">,
                                {{t}}</span>
                    </mat-card-subtitle>
                    <mat-card-content>{{blog.description}}</mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>