.d-lg-block {
    margin-left: 15px;
    margin-right: 15px;
}

.small-banner {
    max-height: 125px;
    max-width: auto;
    width: auto;
}

.dark {
    color: lightslategray;
}

mat-card {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 500px;
}

mat-card-title {
    margin-left: -18px;
}

.small-cards-recent mat-card {
    min-height: 205px;
    height: 95%;
}

.small-cards mat-card {
    min-height: 200px;
    height: 95%;
}

mat-card img.card-image {
    min-height: 286px;
}
 
.small-cards-recent mat-card-content {
    padding-top: 15px;
}


/* .img-logo {
    width: 40px;
} */

.avatar {
    margin-bottom: 7px;
}

.link {
    font-size: 10pt;
    font-weight: bold;
}

a {
    color: black;
}

.tag-bar{
    padding-top: 1em;
    font-size: 0.8em;
}