<mat-card class="mat-elevation-z0">
    <div class="storyImage" *ngIf="shouldUseImage === true">
        <a (click)="imageClicked()"><img [src]="bannerImage" /></a>
    </div>
    <mat-card-header>
        <mat-card-title>{{story.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            {{story.description}}
        </div>
        <div *ngIf="story.story">
            {{storyContent}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onPrimaryAction()">{{primaryActionTitle}}</button>
        <button mat-button (click)="customAction()" *ngIf="customActionTitle">{{customActionTitle}}</button>
    </mat-card-actions>
</mat-card>