img {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    /* margin-bottom: 15px; */
    top: -60px;
}

div.storyImage {
    height: 123px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

mat-card {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 500px;
    height: auto;
}

mat-card-content {
    text-align: justify;
}

mat-card-title {
    margin: 10px auto auto -20px;
}

mat-card-actions {
    margin-top: -25px;
    text-align: right;
}