img {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    /* margin-bottom: 15px; */
    top: -60px;
}

.mat-elevation-z2 {
    margin : 22% 2% 5% 2%;
}

/* @media only screen and (max-width: 767px){ */
    mat-card-title {
        margin: 10px auto auto auto;
        font-weight: bold;
        font-size: 10pt;
        font-family: 'Libre Baskerville', serif;
        /* font-style: italic; */
        /* font-family: 'Times New Roman', Times, serif; */
        /* font-size: 26pt !important; */
    }
/* }

@media only screen and (min-width: 768px){
    mat-card-title {
        margin: 10px auto auto auto;
        font-weight: bold;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: 26pt !important;
    }
} */

div.storyImage {
    height: 123px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

mat-card {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 500px;
    height: auto;
}

mat-card-content div{
    text-align: justify;
    white-space: pre-wrap;
    font-family: 'Libre Baskerville', serif;
    font-size: 9pt;
}

mat-card-actions {
    margin-top: -25px;
    text-align: right;
}