img {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    top: -60px;
}

div.storyImage {
    height: 150px;
    width: 465px;
    position: relative;
    overflow: hidden;
}

mat-card {
    max-width: 500px;
    height: auto;
}

mat-card-content {
    text-align: justify;
}

mat-card-title {
    margin: 10px auto auto -20px;
}