<div class="row">
    <mat-card class="col-xs-12 col-md-6">
        <mat-card-header>
            <mat-card-title>
                COVID India Visualization
            </mat-card-title>
            <mat-card-subtitle>
                Bubble chart shows COVID data for all the states. Allows filter through and zoom in.
            </mat-card-subtitle>
        </mat-card-header>
        <img src="/assets/covid-asset.png" mat-card-image alt="">
        <mat-card-footer>
            <a mat-button color="primary" href="https://github.com/kvkirthy/covid-sample/tree/develop" target="app">Code</a>
            <a mat-button color="primary" href="https://kvkirthy.github.io/covid-sample/" target="app">Launch</a>
        </mat-card-footer>
    </mat-card>
</div>