<!-- <div>
    <button mat-button (click)="goNext()">previous</button>
    <button mat-button (click)="goNext()">Next</button>
</div> -->

<mat-horizontal-stepper (selectionChange)="clearPreview($event)" #stepper>
    <!-- <form id="composeForm" name="composeForm" formGroup="composeFormGroup"> -->
        <mat-step >
            <ng-template matStepLabel>Select / Create Newspaper Edition</ng-template>
            <div class="row">
                <app-create-newspaper-edition class="col-8" [editions]="editions">
                </app-create-newspaper-edition>
            </div>
        </mat-step>
        <mat-step >
            <ng-template matStepLabel>Choose top banner story</ng-template>
            <div class="row">
                <app-story-list [Stories]="availableStories" 
                    Title="Available Stories" 
                    class="col-4" 
                    (SelectedPost)="onSelectTopBanner($event)">
                </app-story-list>
                
                <div class="col-6">
                    <div *ngIf="selectedTitle">
                        <app-story-card [title]="selectedTitle" 
                            [description]="selectedDescription"
                            [bannerImage]="selectedBannerImage"
                            [postLink]="selectedPostLink"
                            customActionTitle = "Make it a Top Banner Story"
                            (customActionEvent) = "saveSelected(CategoryBanner)"
                            (OnImageClick)="imageClicked()"></app-story-card>

                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pick highlights</ng-template>
            <div class="row">
                <app-story-list [Stories]="availableStories" 
                    class="col-3" 
                    Title="Available Stories"  
                    (SelectedPost)="onSelectTopHighlight($event)">
                </app-story-list>
                
                <app-story-list 
                        [Stories]="selectedHighlightStory" 
                        IsRemoveEnabled="true"
                        Title="Selected Stories"  
                        class="col-3" 
                        (RemovedPost)="handleRemovedPost($event)"
                        (SelectedPost)="showPreview($event)"></app-story-list>

                <div class="col-6" *ngIf="selectedTitle">
                    <app-story-card [title]="selectedTitle" 
                        [description]="selectedDescription"
                        [bannerImage]="selectedBannerImage"
                        [postLink]="selectedPostLink"
                        (OnImageClick)="imageClicked()"></app-story-card>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pick top news bits</ng-template>
            <div class="row">
                <app-story-list [Stories]="availableStories" 
                    class="col-3" 
                    Title="Available Stories"  
                    (RemovedPost)="handleRemovedPost($event)"
                    (SelectedPost)="onSelectNewsBits($event)">
                </app-story-list>

                <app-story-list 
                        [Stories]="selectedNewsBits" 
                        IsRemoveEnabled="true"
                        Title="Selected Stories"  
                        class="col-3" 
                        (RemovedPost)="handleRemovedPost($event)"
                        (SelectedPost)="showPreview($event)"></app-story-list>

                <div class="col-6" *ngIf="selectedTitle">
                    <app-story-card [title]="selectedTitle" 
                        [description]="selectedDescription"
                        [bannerImage]="selectedBannerImage"
                        [postLink]="selectedPostLink"
                        ShouldUseImage=false
                        (OnImageClick)="imageClicked()"></app-story-card>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Choose news feed</ng-template>
            <div class="row">
                <app-story-list [Stories]="availableStories" 
                    class="col-3" 
                    Title="Available Stories"  
                    (SelectedPost)="onSelectNewsFeed($event)">
                </app-story-list>

                <app-story-list 
                        [Stories]="selectedNewsFeed" 
                        IsRemoveEnabled="true"
                        Title="Selected Stories"  
                        class="col-3" 
                        (RemovedPost)="handleRemovedPost($event)"
                        (SelectedPost)="showPreview($event)"></app-story-list>

                <div class="col-6" *ngIf="selectedTitle">
                    <app-story-card [title]="selectedTitle" 
                        [description]="selectedDescription"
                        [bannerImage]="selectedBannerImage"
                        [postLink]="selectedPostLink"
                        ShouldUseImage=false
                        (OnImageClick)="imageClicked()"></app-story-card>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Review and confirm</ng-template>
            <div>
                Review and confirm
            </div>
        </mat-step>
    <!-- </form> -->
</mat-horizontal-stepper>