.col-6 mat-card{
  width: 309px;
}

.col-md-6 mat-card{
  width: 200px;
  margin-top: 10px;
}
mat-card{
  margin-top: 10px;
}

mat-card-actions{
  text-align: center;
}

button{
  padding: 2px;
}

.col-6 .book-image {
  height: 440px;
  width: auto;
}

.col-md-6 .book-image {
  height: 287px;
  width: auto;
}

.row{
  margin-top: 10px;
  margin-left: 1px;
  padding-top: 10px;
  width: 100%;
}
