mat-card{
  width: 310px;
}

mat-card-content{
  height: 45px;
}

mat-card-actions{
  text-align: center;
}

button{
  padding: 2px;
}

.small-text{
  font-size: 10pt;
}

.book-content {
  margin: auto;
  width: 86%;
  padding: 10px;
}

.book-image {
  height: 440px;
  width: auto;
}