<div class="custom-container">
  <div class="row ">

    <div class="col-md-4 col-sm-12">
      <mat-card>
        <img mat-card-image src="assets/book-3.jpg" class="book-image" alt="Angular 2 book">
        <mat-card-actions class="small-text">
          <a mat-button href="https://link.springer.com/book/10.1007/978-1-4842-7930-4" target="__blank" color="primary">Apress</a>
          <a mat-button href="https://www.amazon.com/Building-Offline-Applications-Angular-Performant-ebook/dp/B09R3VCD63/ref=sr_1_1?crid=3W443KDN42OF7&keywords=angular+offline&qid=1652590950&sprefix=angular+offline%2Caps%2C294&sr=8-1" target="__blank"
            color="primary">Amazon</a>
          <a mat-button href="https://github.com/Apress/Building-Offline-Applications-with-Angular" target="__blank"
            color="primary">Code Samples</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-4 col-sm-12">
      <mat-card>
        <img mat-card-image src="assets/book-2.jpg" class="book-image" alt="Angular 2 book">
        <mat-card-actions class="small-text">
          <a mat-button href="https://www.apress.com/us/book/9781484254332" target="__blank" color="primary">Apress</a>
          <a mat-button
            href="https://www.amazon.com/Angular-Material-Design-TypeScript-Interface/dp/1484254333/ref=sr_1_3?keywords=angular+material&qid=1578191826&sr=8-3"
            target="__blank" color="primary">Amazon</a>
          <a mat-button href="https://github.com/kvkirthy/superheroes" target="__blank" color="primary">Code Samples</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-4 col-sm-12">
      <mat-card>
        <img mat-card-image src="assets/book-1.jpg" class="book-image" alt="Angular 2 book">
        <mat-card-actions class="small-text">
          <a mat-button href="https://www.apress.com/us/book/9781484221891" target="__blank" color="primary">Apress</a>
          <a mat-button href="https://www.amazon.com/dp/B01L17B8LK/ref=rdr_kindle_ext_tmb" target="__blank"
            color="primary">Amazon</a>
          <a mat-button href="https://github.com/kvkirthy/Angular-Material-Samples" target="__blank"
            color="primary">Code Samples</a>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>
