 <div class="d-none d-xl-block">
   <div class="row book-content ">
      <div class="col-6 flex-container">
        <div>
          <mat-card >
            <img mat-card-image src="/assets/book-2.jpg" class="book-image" alt="Angular 2 book">
            <mat-card-content>
              <p class="small-text">
                Build Angular applications faster and better with TypeScript and Material Design. 
              </p>
            </mat-card-content>
            <mat-card-actions class="small-text">
              <a mat-button href="https://www.apress.com/us/book/9781484254332" target="__blank" color="primary">Apress</a>
              <a mat-button href="https://www.amazon.com/Angular-Material-Design-TypeScript-Interface/dp/1484254333/ref=sr_1_3?keywords=angular+material&qid=1578191826&sr=8-3" target="__blank" color="primary">Amazon</a>
              <a mat-button href="https://github.com/kvkirthy/superheroes" target="__blank" color="primary">Samples</a>            
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="book-description">
            <div class="strong">
              Build Angular applications faster and better with TypeScript and Material Design.
            </div>
            <br />
            <div>
              You will learn how to build a web interface and use Google's open source Angular Material library of ready-made and easy-to-use components.
            </div>
            <br />  
            <div>
              This book uses Angular with TypeScript (a superset to JavaScript) to enable use of data types and take advantage of programming constructs such as classes, interfaces, generic templates, and more. You also will utilize various Angular features, including data binding, components, services, etc. You will build a single page application with the help of routing capabilities available out of the box (Angular CLI) and interface with remote services over HTTP.
  
            </div>
            <hr />
        </div>   
      </div>
  
      <div class="col-6 flex-container">
        <div>
          <mat-card>
            <img mat-card-image src="/assets/book-1.jpg" class="book-image" alt="Angular 2 book">
            <mat-card-content>
              <p class="small-text">
                Build applications with AngularJS (version 1.x) and Material Design. Uses Angular Material library.
              </p>
            </mat-card-content>
            <mat-card-actions class="small-text">
              <a mat-button href="https://www.apress.com/us/book/9781484221891" target="__blank" color="primary">Apress</a>
              <a mat-button href="https://www.amazon.com/dp/B01L17B8LK/ref=rdr_kindle_ext_tmb" target="__blank" color="primary">Amazon</a>
              <a mat-button href="https://github.com/kvkirthy/Angular-Material-Samples" target="__blank" color="primary">Samples</a>
            </mat-card-actions>
          </mat-card>  
  
        </div>
        <div class="book-description">
          <div class="strong">
            Build high-quality web applications with AngularJS (version 1.x) and Material Design.
          </div>
          <br/>
          <div>
            Use a Material Design approach to position elements and create animations along with principles of the sophisticated AngularJS JavaScript framework. 
          </div>
          <br />
          <div>
            Take advantage of Angular Material, a UI component framework that works out of the box to design web pages that adapt to various screen sizes and adhere to Material Design specifications.
          </div>
          <hr />
        </div>
      </div>
    </div>

 </div>

 <div class="d-xl-none">
  <div class="row book-content">
    <div class="col-md-6 col-sm-12">
      <div>
        <mat-card >
          <img mat-card-image src="/assets/book-2.jpg" class="book-image" alt="Angular 2 book">
          <mat-card-actions class="small-text">
            <a mat-button href="https://www.apress.com/us/book/9781484254332" target="__blank" color="primary">Apress</a>
            <a mat-button href="https://www.amazon.com/Angular-Material-Design-TypeScript-Interface/dp/1484254333/ref=sr_1_3?keywords=angular+material&qid=1578191826&sr=8-3" target="__blank" color="primary">Amazon</a>
            <a mat-button href="https://github.com/kvkirthy/superheroes" target="__blank" color="primary">Samples</a>            
          </mat-card-actions>
        </mat-card>
      </div>   
    </div>

    <div class="col-md-6 col-sm-12">
      <div>
        <mat-card>
          <img mat-card-image src="/assets/book-1.jpg" class="book-image" alt="Angular 2 book">
          <mat-card-actions class="small-text">
            <a mat-button href="https://www.apress.com/us/book/9781484221891" target="__blank" color="primary">Apress</a>
            <a mat-button href="https://www.amazon.com/dp/B01L17B8LK/ref=rdr_kindle_ext_tmb" target="__blank" color="primary">Amazon</a>
            <a mat-button href="https://github.com/kvkirthy/Angular-Material-Samples" target="__blank" color="primary">Samples</a>
          </mat-card-actions>
        </mat-card>  

      </div>
    </div>
  </div>
</div>

