<div class="book-content">
  <table>
    <tr>
      <td>
        <mat-card class="example-card">
          <img mat-card-image src="/assets/book-2.jpg" class="book-image" alt="Angular 2 book">
          <mat-card-content>
            <p class="small-text">
              Build Angular applications faster and better with TypeScript and Material Design. 
            </p>
          </mat-card-content>
          <mat-card-actions class="small-text">
            Share on <button mat-button color="primary">Twitter</button>
            <button mat-button color="primary">Facebook</button>
            <button mat-button color="primary">LinkedIn</button>
          </mat-card-actions>
        </mat-card>   
      </td>
      <td>
        <mat-card class="example-card">
          <img mat-card-image src="/assets/book-1.jpg" class="book-image" alt="Angular 2 book">
          <mat-card-content>
            <p class="small-text">
              Build applications with AngularJS (version 1.x) and Material Design. Uses Angular Material library.
            </p>
          </mat-card-content>
          <mat-card-actions class="small-text">
            Share on <button mat-button color="primary">Twitter</button>
            <button mat-button color="primary">Facebook</button>
            <button mat-button color="primary">LinkedIn</button>
          </mat-card-actions>
        </mat-card>  
      </td>
    </tr>
  </table>
</div>

  