mat-card{
  width: 308px;
}

mat-card-content{
  height: 45px;
}

mat-card-actions{
  text-align: center;
}

button{
  padding: 2px;
}

.small-text{
  font-size: 10pt;
}

.book-content {
  margin: auto;
  padding: 10px;
}

.book-image {
  height: 440px;
  width: auto;
}

.row{
  margin-top: 10px;
}

.flex-container{
  display: flex;
}

.book-description{
  padding: 10px;
  font-size: 11pt;
  text-align: justify;
}

.strong{
  font-weight: bold;
}