<a (click)="onCardClick()">
    <ng-container *ngIf="!xsMode">
        <div class="row">
            <div class="col-sm-4">
                <img class="regular" [src]="imageUrl">
            </div>
            <div class="col-sm-8 content">
                <div>
                    <strong>{{title}}</strong>
                </div>
                <div>
                    {{description}}
                </div>
    
            </div>
        </div>
    </ng-container>

    <ng-container  *ngIf="xsMode">
        <div class="row">
            <div class="col-xs-2">
                <img class="xs" [src]="imageUrl">
            </div>
            <div class="col-xs-8 content">
                <strong>{{title}}</strong>
            </div>
        </div>
        <div class="row">
                {{description}}
        </div>
    </ng-container>
</a>