<span id="home"></span>
<div class="row" *ngFor="let stories of storyGroups; let i=index">
    <ng-container *ngIf="bannerStories[i]; else secondaryLayout">
        <div [ngClass]="getSectionCssClassByRow(i,1)">
            <div class="row">
                <div [ngClass]="getStoryCssClassByRow(i,1)" *ngFor="let story of stories; let storyIndex= index">
                    <app-story-card *ngIf="isValidForLeftSet(i, storyIndex)" 
                        [story]="story"
                        [title]="story.title" 
                        [description]="formatDescription(story.description, 227)"
                        (OnStorySelected) = "storySelected($event)"
                    ></app-story-card>
                    <div *ngIf="storyIndex === 0">
                        <hr />
                    </div>
                </div>  
            </div>
        </div>
        
        <div class="col-4" *ngIf="bannerStories[i]" >
            <app-banner-story-card 
            [story] = bannerStories[i]
            [storyContent]="formatBannerText(bannerStories[i].story)"
            (primaryAction)="storySelected($event)"
            ></app-banner-story-card>
        </div>
    
        <div [ngClass]="getSectionCssClassByRow(i,2)">
            <div class="row">
                <div [ngClass]="getStoryCssClassByRow(i,2)" *ngFor="let story of stories; let storyIndex= index">
                    <app-story-card *ngIf="isValidForRightSet(i, storyIndex)" [title]="story.title" 
                    [description]="formatDescription(story.description, 227)"
                    [story]="story"
                    (OnStorySelected) = "storySelected($event)"
                    ></app-story-card>
                </div>  
            </div>
        </div>
    </ng-container>

    <ng-template #secondaryLayout>
        <div class="col-4" *ngFor="let story of stories">
            <app-story-card [title]="story.title" 
            [description]="formatDescription(story.description, 227)"
            [story]="story"
            (OnStorySelected) = "storySelected($event)"></app-story-card>
        </div>  
    </ng-template>

    <div class="col-2"></div>
    <hr class="col-10" />
    <div class="col-2"></div>
</div>

<div class="row" *ngFor="let story of bannerStories">
        <div class="col-2"[id]="story._id" ></div>
        <app-story-card class="col-8"
            showCardRaised=true 
            showHeaderAction=true
            (headerActionClicked)="scrollTop()"
            [story]=story
            [title]="story.title" 
            [description]="story.description"
            [storyContent]="story.story"
            primaryActionTitle="Read complete story"
            (OnStorySelected) = "openUrl($event)"
        ></app-story-card>
        <div class="col-2"></div>
</div>
<ng-container *ngFor="let stories of storyGroups">
    <div class="row" *ngFor="let story of stories" >
        <div class="col-2" [id]="story._id" ></div>
        <app-story-card  class="col-8"
        showCardRaised=true 
        showHeaderAction=true
        [story]=story
        (headerAction)="scrollTop()"
        [title]="story.title" 
        [description]="story.description"
        [storyContent]="story.story"
        primaryActionTitle="Read complete story"
        (OnStorySelected) = "openUrl($event)"
        ></app-story-card>
        <div class="col-2"></div>
    </div>
</ng-container>