mat-card-header {
    margin-left: -16px;
}

.mat-card-title {
    font-size: 11.5pt;
}

mat-card-content div{
    font-size: 10.5pt;
    text-align: justify;
    margin-bottom: 1px;
    white-space: pre-wrap;
}

mat-card-actions {
    margin-top: -25px;
    text-align: right;
}

mat-card {
    padding-left: 8px;
    padding-right: 8px;
}