
mat-card-header {
    margin-left: -16px;
}

.mat-card-title {
    font-size: 10pt;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.row {
    width: 100% ;
}

.row button {
    margin-top: -13px;
}

mat-card-content div{
    font-size: 9pt;
    text-align: justify;
    margin-bottom: 1px;
    white-space: pre-wrap;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

mat-card-actions {
    margin-top: -25px;
    text-align: right;
}

mat-card {
    padding-left: 8px;
    padding-right: 8px;
}