mat-card-header {
    margin-left: -16px;
}

.mat-card-title {
    font-size: 11.5pt;
}

mat-card-content {
    font-size: 10.5pt;
    text-align: justify;
    margin-bottom: 1px;
}

mat-card-actions {
    margin-top: -25px;
    text-align: right;
}