<div>
    <button mat-button (click)="close()"> <mat-icon>close</mat-icon> </button>
    <div *ngIf="data">
        <div  class="row">
            <strong>
                {{data.title}}
            </strong>
        </div>

        <div class="row">
            {{data.description}}
        </div>

        <div class="row">
            {{data.story}}
        </div>
    
        <a  class="row" tabindex="-1" [href]="data.linkToPost" target="_blank">
            Read full article
        </a>
    </div>

</div>