body {
    overflow-x: hidden;
}

mat-toolbar {
    height: 110px;
}

mat-toolbar-row {
    margin: 10px auto 10px auto;
}

mat-toolbar-row h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
    text-align: center;
}

mat-toolbar-row strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 9pt;
    text-align: center;
    margin-bottom: -10px;
}

.center-align {
    text-align: center;
}

.main-content{
    margin: 5px 10px 5px 10px;
}

.root-node{
    margin: 110px 10px auto 10px;
    position: relative;
}

.fixed-header {
    top: 0;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* background-color: white; */
    position: fixed;
    width: 100%;
    z-index:999;
}

app-newspaper-edition-list {
    max-width: 160px;
    font-size: 9pt;
}
