<mat-toolbar class="fixed-header">
    <mat-toolbar-row class="row">
        <span class="col-4"></span>
        <div class="col-4 center-align">
            <!-- <h1 > JS Times</h1>
         -->
            <img src="assets/jstimes2.png" alt="">
            <h6 *ngIf="selectedEditionTitle && selectedEditionDateCreated"> {{selectedEditionTitle}} | {{ selectedEditionDateCreated | date:'dd-MMM-yyyy' }}</h6>
            <!--todo: provide a title and date for the edition-->
        </div>
        <span class="col-4">
                <app-newspaper-edition-list class="col-8" [editions]="editions">
                </app-newspaper-edition-list>
      </span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="root-node">
    <router-outlet></router-outlet>
</div>