<mat-toolbar class="fixed-header">
    <mat-toolbar-row class="row">
        <span class="col-4 d-none d-md-block"></span>
        <div class="col-4 center-align">
            <img src="assets/jstimes2.png" alt="">
            <div>
                <app-newspaper-edition-list class="col-8" [editions]="editions"></app-newspaper-edition-list>
                <strong *ngIf="selectedEditionTitle && selectedEditionDateCreated"> | {{ selectedEditionDateCreated | date:'dd-MMM-yyyy' }}</strong>
            </div>
            <!--todo: provide a title and date for the edition-->
        </div>
        <span class="col-4"></span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="root-node">
    <router-outlet></router-outlet>
</div>