body {
    overflow-x: hidden;
}

.site-message {
    font-family: 'Libre Baskerville', serif;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
}

.site-message > hr {
    margin-left: 20%;
    margin-right: 20%;
}

.sm-and-below {
    height: auto;
    margin-top: 56px;
}

.sm-and-below mat-card-content {
    font-family: 'Libre Baskerville', serif;
    font-size: 8pt;
    font-weight: normal;
    text-align: justify;
}

img{
    height: 70%;
}

div.intermediate.md-and-above {
    margin-bottom: 80px;
}

div.intermediate.sm-and-below {
    margin-bottom: 48px;
}

.md-and-above img {
    height: 42px;
}

/* mat-toolbar-row {
    height: 25px;
} */

mat-toolbar-row h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 24pt;
    text-align: center;
}

mat-toolbar-row strong{
    font-family: 'Libre Baskerville', serif;
    font-size: 9pt;
    text-align: center;
    /* margin-bottom: -10px; */
}

.empty-fill-toolbar-space {
    height: 64px;
}

/* .second-row-md-screen {
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: lightgray;
    padding-top: 1%;
    padding-bottom: 5px;
} */

.second-row {
    padding-left: 15px;
    /* font-style: italic; */
}

.center-align {
    text-align: center;
}

.root-node{
    /* margin: inherit 10px auto 10px; */
    position: relative;
}

.hack {
    margin-top: -20%;
}

.sm-and-below mat-card {
    margin: 10px 8px 10px 8px;
}

.fixed-header {
    top: 0;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* background-color: white; */
    position: fixed;
    width: 100%;
    z-index:999;
}

app-newspaper-edition-list {
    max-width: 160px;
    font-size: 9pt;
}
