body {
    overflow-x: hidden;
}

mat-toolbar.md-and-above {
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

mat-toolbar.sm-and-below {
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

div.intermediate.md-and-above {
    margin-bottom: 80px;
}

div.intermediate.sm-and-below {
    margin-bottom: 48px;
}

.sm-and-below img {
    height: 35px;
}

.md-and-above img {
    height: 42px;
}

mat-toolbar-row {
    height: 25px;
}

mat-toolbar-row h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
    text-align: center;
}

mat-toolbar-row strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 9pt;
    text-align: center;
    /* margin-bottom: -10px; */
}

.second-row-md-screen {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.second-row {
    padding-left: 15px;
    /* font-style: italic; */
}

.center-align {
    text-align: center;
}

.root-node{
    margin: inherit 10px auto 10px;
    position: relative;
}

.fixed-header {
    top: 0;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* background-color: white; */
    position: fixed;
    width: 100%;
    z-index:999;
}

app-newspaper-edition-list {
    max-width: 160px;
    font-size: 9pt;
}
