.custom-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1110px;
  justify-content: center;
  /* background-color: lightgray; */
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.col-6 mat-card{
  width: 309px;
}

.col-md-6 mat-card{
  width: 200px;
  margin-top: 10px;
}
mat-card{
  margin-top: 10px;
}

mat-card-actions{
  text-align: center;
}

button{
  padding: 2px;
}

.col-6 .book-image {
  height: 440px;
  width: auto;
}

.col-md-6 .book-image {
  height: 287px;
  width: auto;
}

.row{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
