div{
    margin: 1px 1px 1px 1px;
  }

  .small-banner{
    max-height: 125px;
    max-width: auto;
    width: auto;
  }

  .dark {
    color: lightslategray;
  }

  mat-card{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 500px;
  }

.img-logo{
  width: 40px;
}

.avatar {
  margin-bottom: 7px;
}

.link{
  font-size: 10pt;
  font-weight: bold;
}

a{
  color: black;
}